body {
  font-family: sans-serif;
  background-color: rgb(230, 228, 228);
}
.list-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  gap: 50px;
}
aside {
  background-color: white;
  padding: 30px 20px;
  /* width: 250px; */
  border-radius: 10px;
}
.list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.list:hover {
  background-color: rgb(230, 228, 228);
  padding: 5px;
  border-radius: 20px;
}
/* #list-id {
  background-color: rgb(230, 228, 228);
  padding: 5px;
  border-radius: 20px;
} */
.svj-container {
  display: flex;
  /* width: 80px; */
  justify-content: space-between;
  align-items: center;
}
.p-aside {
  margin-left: 10px;
  font-size: 0.8rem;
}
.nummbers-aside {
  padding: 2px 4px;
  border-radius: 20px;
  background-color: rgb(245, 245, 245);
  font-size: 0.8rem;
}
.grid-container-section {
  margin-bottom: 20px;
}
.grid-container {
  width: 250px;
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* display: flex; */
  /* flex-direction: row; */
  /* gap: 20px; */
  /* justify-content: space-between; */
  /* width: 300px; */
}
.grid {
  height: 120px;
  /* width: 100px; */
  background-color: rgb(230, 228, 228);
  /* border: 1px solid gray; */
  border-radius: 10px;
}
.h2-group {
  font-size: 0.8rem;
  margin-top: 10px;
  margin-bottom: 5px;
}
.ph2-group {
  font-size: 0.7rem;
  color: rgb(190, 188, 188);
}
.header-main {
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
}
main {
  padding-top: 30px;
}
/* .h1-main {
  font-size: 0.8rem;
} */
.p-main {
  color: grey;
  font: 1.5rem;
}
.svj-main-container {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
}
.svj-main-txt {
  padding: 0;
  margin: 0;
}
.svj-main-container-section {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding: 10px; */
}
.svj-main-container-2 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
.todo-list-container {
  gap: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}
.todo-list {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  background-color: white;
  border-radius: 10px;
  padding: 10px 10px;
  /* width: 880px; */
}
.svj-todo-container {
  display: flex;
  align-items: center;
}
.p-main2 {
  font-size: 1rem;
  margin-left: 10px;
}
.time-container {
  display: flex;
  align-items: center;
}
.p-time-container {
  display: flex;
  align-items: center;
  background-color: rgb(225, 222, 222);
  padding: 0 10px;
  border-radius: 10px;
}
.p-time {
  color: rgb(140, 140, 140);
  margin-left: 5px;
}
.svj-dot-button {
  border: 1px solid rgb(138, 136, 136);
  background-color: rgb(215, 214, 214);
  padding: 10px 10px;
  border-radius: 8px;
  margin-left: 10px;
}
.svj-dot-button:hover {
  background-color: rgb(236, 234, 234);
  transition-duration: 500ms;
}
/* .dot-svj-container {
  background-color: rgb(225, 222, 222);
  padding: 12px 10px;
  border-radius: 10px;
  margin-left: 10px;
} */
#check-sidebar {
  display: none;
}
#label-sidebar {
  display: none;
}
.sidebar-icon {
  display: none;
}
/* .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
} */

/* .sidebar-toggle {
  display: none;
} */
@media only screen and (max-width: 950px) {
  /* .sidebar-toggle {
    display: block;
  } */
  .list-container {
    display: flex;
  }
  .sidebar-icon {
    /* width: 100px; */
    display: block;
  }
  li {
    /* display: flex;
    flex-direction: column; */
    /* height: 100%; */
    /* justify-content: space-between; */
    list-style: none;
    height: 100px;
  }
  .li-icon {
    gap: 50px;
  }
  #label-sidebar {
    display: block;
  }
  .sidebar {
    position: fixed;
    left: -300px;
    height: 100%;
    width: 250px;
    overflow: scroll;
    transition: all 0.5s ease;
  }
  .sidebar-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.4);
  }

  #check-sidebar {
    display: none;
  }
  #check-sidebar:checked ~ .sidebar {
    left: 0;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; */
  }
  #check-sidebar:checked ~ main {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* z-index: 10; */
    color: rgba(0, 0, 0, 0.5);
  }
  /* .overlay:checked ~ .sidebar {
    display: block;
  } */
  label #btn,
  label #cancel {
    position: absolute;
    cursor: pointer;
  }
  label #btn {
    left: 0;
    transition: all 0.5s;
  }
  #check-sidebar:checked ~ label #btn {
    left: 25%;
    opacity: 0;
  }
  label #cancel {
    top: 5%;
    left: -25%;
    z-index: 1111;
    transition: all 0.5s;
  }
  #check-sidebar:checked ~ label #cancel {
    left: 25%;
  }
  main {
    padding-top: 0;
  }
  .h1-main {
    font-size: 1.2rem;
    margin: 0;
  }
  .list-container {
    grid-template-columns: 6fr;
  }
  .list {
    width: 100%;
  }
  .grid-container {
    width: 100%;
  }
  .grid {
    height: 120px;
  }
  .h1-aside {
    /* text-align: center; */
    font-size: 2.5em;
  }
  .todo-list {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .grid {
    height: 200px;
  }
}
.h1-aside {
  /* text-align: center; */
  font-size: 2em;
}
.random {
  font-size: 16px;
}
